.table-body {
    height: 100%;
    overflow: auto;
}

.table>tbody {
    vertical-align: middle;
}

.col-form-label {
    text-align: right;
}

.sidebar {
    position: fixed;
}

.main-contect {
    margin-left: 280px;
}