.table-body {
    height: 100%;
    overflow: auto;
}

.table>tbody {
    vertical-align: middle;
}

.col-form-label {
    text-align: right;
}

.sidebar {
    position: fixed;
}

.main-contect {
    margin-left: 280px;
}

.offcanvas {
    max-width: 90%;
}

@media (max-width: 767.98px) { 
    .main-contect {
        margin-top: 74px;
        margin-left: auto;
    }
}
