main .title{
    background-color:rgb(175, 175, 175);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
h2{
    margin-top: 25px;
    margin-bottom: 12px;
}
h3{
    font-size: 20px;
}
header{
    padding-top: 62px;
}
footer{
    padding-bottom: 62px;
}
.announcement-content {
    max-height: 3em; /* You can adjust the height based on your font size and line height */
    overflow: hidden;
}

.announcement-content p {
    margin-bottom: 0;
    opacity: 0.75;
}
.progress-scoller{
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    /* grid-auto-columns: 33%; */
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-bottom: 20px;
    justify-content: start;
}
.card-img-top {
    width: 100%;
    height: 14vh;
    object-fit: cover;
}
.account-status{
    background-color:rgb(175, 175, 175);
    border-radius: 10px;
    padding: 12px 20px;
}
#progress-detail {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.location-section {
    display: none;
}

.location-section.active {
    display: contents;
}

.col-form-label {
    font-weight: bold;
}

.progress-line {
    align-items: center;
    cursor: pointer;
    margin: 0 calc(1* 1.5em); 
}

.step {
    padding: 16px;
    margin-top: 12px;

}

.line {
    width: 5%;
    height: 3px;
    border-radius: 4px;
    background: lightgrey;
    transition: background 0.5s linear;
}

.image {
    width: 90%;
    height: auto;
    border-radius: 3vw;
}

svg {
    height: 48px;
    margin-bottom: 16px;
    margin-right: 24px;
}

.active{
    fill: #376ecd;
}

/* 'sm' applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .step {
        display: flex;
    }
}