<!DOCTYPE html>
<html lang="zh-tw">
<head>

    <link rel="icon" href="{{ url_for('static', filename='/icon/favicon.png')}}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="李秉紘&TaitungChushu">
    <meta name="description" content="實踐大學高雄校區的宿舍維修系統">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC" type="text/css">
    <link rel="stylesheet" href="/css/mg_signup.css" type="text/css">

    <title>管理員驗證｜南實大宿舍維修</title>
</head>
<body>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <!-- <div class="col-md-6 side-image" style="background-image: url('/img/background.jpeg');">
                    <img src="/img/dorm_logo.png" class="logo-image" alt="實踐大學高雄校區宿舍維修系統">
                </div> -->
                <div class="col-md-12 manager-signup-form">
                    <div class="input-box">
                        <header>管理員驗證碼</header>
                        <form action="/manager_signup_page" method="post"> 
                            <div class="input-field">
                                <input type="text" class="input" id="" name="verification-code" minlength="8" maxlength="8" placeholder="請輸入驗證碼" required>
                                <label for="verification-code">驗證碼</label>
                            </div>  
                            <div class="error-message-container">
                                {% if request.args.get('msg') %}
                                    <div class="error-message" id="error-message">
                                        {{ request.args.get('msg') }}
                                    </div>
                                {% endif %}
                            </div>                       
                            <!-- <div class="input-field">
                                <input type="password" class="input" id="password" name="password" required>
                                <label for="password">密碼</label>
                            </div> -->
                            <div class="input-field">
                                <input type="submit" class="submit" value="送出">
                            </div>
                            <div class="user-login">
                                <span><a href="/">回登入頁面</a></span>
                            </div>
                        </form>

                       
                    </div>
                </div>    
            </div>
        </div>
    </div>
     
    <script src="/js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>