
{% extends "base_login.html" %}
{% block title %}忘記密碼{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 side-image" style="background-image: url('/img/background.jpeg');">
        <!--image-->
        <img src="/img/dorm_logo.png" class="logo-image" alt="實踐大學高雄校區宿舍維修系統">
    </div>
    <div class="col-md-6 login-form">
        <div class="input-box">
            <header>忘記密碼</header>
            <form action="" method="post"> 
                <div class="input-field">
                    <input type="text" class="input" id="student-id" name="student_id" required> <!-- autocomplete="off" -->
                    <label for="student-id">學號</label>
                    <!-- for 屬性規定label 與哪個表單元素綁定。 -->
                </div>
                <div class="input-field">
                    <input type="password" class="input" id="password" name="password" required>
                    <label for="password">密碼</label>
                </div>
                <div class="input-field">
                    <input type="submit" class="submit" value="登入">
                </div>
            </form>

            <div class="register">
                <span><a href="/signup_page">註冊帳號</a></span>
            </div>
            <div class="admin-login">
                <span><a href="/manager_signin_page">管理員登入入口</a></span>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
       