<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Chen Boan">
    <meta name="description" content="實踐大學高雄校區的宿舍維修系統">
    <!-- Bootstrape CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC" type="text/css">
    <title>主頁 | 南實大宿舍維修</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="dorm_logo.png" height="36"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto">
                        <li class="navbar-text">
                            Hi! {{ session['name'] }}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signout">登出 Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="news">
        <div class="container px-3">
            <h2>公告</h2>
            <div class="d-flex flex-column flex-md-row p-4 gap-4 align-items-center justify-content-center">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">宿舍將在1/25關閉</h6>
                                <p class="mb-0 opacity-75">各位住宿生好，112學年度的第一學期即將結束</p>
                            </div>
                            <small class="opacity-50 text-nowrap">now</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">配合H棟宿舍整建搬遷床位公告</h6>
                                <p class="mb-0 opacity-75">為配合H棟宿舍整建，搬遷床位，請同學協助合於112年1月9日 宿舍關閉前，將個人行李整理裝箱後搬至分配床位</p>
                            </div>
                            <small class="opacity-50 text-nowrap">3d</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">更多公告</h6>
                                <p class="mb-0 opacity-75">more...</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="progress">
        <div class="container px-3">
            <h2>維修進度</h2>
            <div class="progress-scoller">
                {% for progress in form_list %}
                    <div class="card" style="width: 18rem; margin-left: 5px;">
                        <!-- <img src="images/ceiling-fan.jpg" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <legend class="card-title">{{ progress.fix_items }}</legend>
                            <h6 class="card-subtitle mb-2 text-muted">{{ progress.status }}</h6>
                            <p class="card-text">提交時間:{{ progress.submit_at }}<br>最後更新時間:2023/05/10 20:57:53</p>
                            <a href="#" class="btn btn-primary">詳情</a>
                        </div>
                    </div>
                {% endfor %}
                <!-- <div class="card" style="width: 18rem;">
                
                    <div class="card-body">
                        <legend class="card-title">工具書</legend>
                        <h6 class="card-subtitle mb-2 text-muted">已提交</h6>
                        <p class="card-text">提交時間:2023/05/10 20:41:24<br>最後更新時間:2023/05/10 20:41:24</p>
                        <a href="#progress-detail" class="btn btn-primary">詳情</a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section id="report">
        <div class="container px-3">
            <h2>維修表單</h2>
            <form action="/submit_form" method="post">
                <div class="row md-3">
                    <label class="col-md-2 col-form-label">提交人資料</label>
                    <div class="col-md-5">
                        <label for="studentId" class="form-label">學號</label>
                        <input type="text" class="form-control" id="studentId" value="{{ student_id }}" disabled>
                    </div>
                    <div class="col-md-5">
                        <label for="name" class="form-label">姓名</label>
                        <input type="text" class="form-control" id="name" value="{{ name }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">地點</label>
                    <div class="col-md-3">
                        <input class="form-check-input" type="radio" name="location" id="inroom" value="寢室" required>
                        <label class="form-check-label" for="inroom">寢室</label>
                    </div>
                    <div class="col-md-3">
                        <label for="studentId" class="form-label">棟別</label>
                        <select class="form-select" name="fix_items" aria-label="Default select example">
                            <option selected>請選擇棟別</option>
                            <option value="">B1</option>
                            <option value="">B2</option>
                            <option value="">H</option>
                            <option value="">M</option>
                            <option value="">N</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="studentId" class="form-label">房號</label>
                        <input type="text" class="form-control" id="studentId" value="">
                    </div>
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-md-3">
                        <input class="form-check-input" type="radio" name="location" id="inroom" value="寢室" required>
                        <label class="form-check-label" for="inroom">公共區域</label>
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">詳細地點</label>
                        <input type="text" name="location_detail" class="form-control" id="exampleFormControlInput1" placeholder="請盡量準確的描述">
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">維修項目</legend> 
                    <div class="col-sm-10">
                        <div class="form-check">
                            <label for="item-list" class="form-label">維修物列表</label>
                            <select class="form-select" name="fix_items" aria-label="Default select example">
                                <option selected>請選擇項目</option>
                                <!-- <option value="水電">水電</option>
                                <option value="一般維修項目">一般維修項目</option>
                                <option value="網路">網路</option> -->
                                <optgroup label="水電">
                                    <option value="電燈">電燈</option>
                                    <option value="插座">插座</option>
                                    <option value="馬桶">馬桶</option>
                                </optgroup>
                                <optgroup label="一般維修項目">
                                    <option value="門把">門把</option>
                                    <option value="桌椅">桌椅</option>
                                    <option value="衣櫃">衣櫃</option>
                                </optgroup>
                                <optgroup label="網路">
                                    <option value="網路接口ˇ">網路接口</option>
                                </optgroup>
                            </select>
                        </div>
                        <br>
                        <div class="mb-3 form-check">
                            <label for="item-text" class="form-label">未列出的維修項目</label>
                            <input type="text" name="other_fix_items" class="form-control" id="item-text" placeholder="未列出的維修項目">
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label for="fix_explain" class="col-sm-2 col-form-label">情況說明</label>
                    <div class="col-sm-10">
                      <input type="txet" name="fix_explain" class="form-control" id="fix_explain">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="photo" class="col-sm-2 col-form-label">照片上傳</label>
                    <div class="col-sm-10">
                        <input type="file" name="image" accept="image/*" class="form-control" id="inputGroupFile01">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-secondary">重製</button>
                        <!-- <input type="submit" class="btn btn-primary"> -->
                        <!-- <input type="reset" class="btn btn-secondary"> -->
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="container px-3">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Team dorm-life</p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="bi me-2" height="36" src="dorm_logo_black.png">
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">公告</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">帳號設定</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">維修進度</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">實踐大學高雄校區官網</a></li>
            </ul>
        </footer>
    </div>
    
    <script>
        function on() {
            document.getElementById("progress-detail").style.display = "block";
        }
        function off() {
            document.getElementById("progress-detail").style.display = "none";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>