{% extends "base_manager.html" %}
{% block title %}
<!-- 可以的話幫我寫一個判斷式顯示下方兩行的其中之一 -->
新增文章
編輯-文章名稱
{% endblock %}
{% block content %}
<section id="main" class="w-100">
    <div class="container px-4">
        <div class="container px-3">
            <h2 class="my-3">新增文章</h2>
            <h2 class="my-3">編輯文章</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <fieldset class="row mb-3">
                    <label class="col-md-2 col-form-label">標題</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="" value="">
                    </div> 
                </fieldset>

                <fieldset class="row mb-3">
                    <!-- <div class="row mb-3"> -->
                        <label class="col-md-2 col-form-label">主要圖片</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="file" class="form-control" id="inputGroupFile04" accept="image/*" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                <!-- 可以設計說有已上傳的圖片時按鈕才出現 -->
                                <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon04">刪除現有圖片</button>
                            </div>
                            <img class="img-fluid" src="\img\000.jpg" style="height: 50vh;">
                        </div>
                    <!-- </div> -->
                </fieldset>

                <fieldset class="row mb-3">
                    <label class="col-md-2 col-form-label">內容</label>
                    <div class="col-md-10">
                        <input type="textarea" class="form-control" name="" value="">
                    </div>
                </fieldset>
            
                <fieldset class="row mb-3">
                    <legend class="col-md-2 col-form-label">置頂</legend> 
                    <div class="col-sm-10">
                         
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <label class="col-md-2 col-form-label">上下架</label>
                    <div class="col-md-10">

                    </div>
                </fieldset>


                <div class="row justify-content-md-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-secondary">重置</button>
                        <!-- <input type="submit" class="btn btn-primary"> -->
                        <!-- <input type="reset" class="btn btn-secondary"> -->
                    </div>
                </div>
            </form>
        </div>    
    </div>
</section>
{% endblock %}