{% extends "base_manager.html" %}
{% block title %}

{% endblock %}
{% block content %}
<section id="main" class="w-100">
    <div class="container px-4">
        <div class="container px-3">
            <!-- <h2 class="my-3">新增文章</h2> -->
            <h2 class="my-3">{{ title }}</h2>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <fieldset class="row mb-3">
                    <label class="col-md-2 col-form-label">標題</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="title" name="title" value="{{ announcement_info.title if announcement_info else '' }}">
                    </div> 
                </fieldset>

                <!-- <fieldset class="row mb-3">
                        <label class="col-md-2 col-form-label">主要圖片</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="file" class="form-control" id="inputGroupFile04" accept="image/*" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                
                                <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon04">刪除現有圖片</button>
                            </div>
                            <img class="img-fluid" src="\img\000.jpg" style="height: 50vh;">
                        </div>   
                </fieldset> -->

                <fieldset class="row mb-3">
                    <label class="col-md-2 col-form-label">內容</label>
                    <div class="col-md-10">
                        <textarea class="form-control" name="content" rows="5">{{ announcement_info.content if announcement_info else '' }}</textarea>
                    </div>
                </fieldset>
            
                <fieldset class="row mb-3 align-items-center">
                    <legend class="col-md-2 col-form-label">置頂</legend>
                    <div class="col-sm-10">
                        <!-- Checkbox for "是否置頂" -->
                        <input class="form-check-input" value="置頂" type="checkbox" id="is_top" name="is_top" 
                        {% if announcement_info %}
                        {{ 'checked' if announcement_info.is_top == '置頂' else '' }}
                        {% endif %}>
                        <label class="form-check-label" for="is_top">是否置頂</label>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <label class="col-md-2 col-form-label">上下架</label>
                    <div class="col-md-2">
                        <select class="form-select" name="status" aria-label="Default select example">
                            <option value="上架"
                            {% if announcement_info %}
                            {{ 'selected' if announcement_info.status == '上架' else '' }}
                            {% endif %}>上架</option>

                            <option value="下架"
                            {% if announcement_info %}
                            {{ 'selected' if announcement_info.status == '下架' else '' }}
                            {% endif %}>下架</option>
                        </select>
                    </div>
                </fieldset>


                <div class="row justify-content-md-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-secondary">重置</button>
                        <!-- <input type="submit" class="btn btn-primary"> -->
                        <!-- <input type="reset" class="btn btn-secondary"> -->
                    </div>
                </div>
            </form>
        </div>    
    </div>
</section>
{% endblock %}