{% extends "base_manager.html" %}
{% block title %}案件列表{% endblock %}
{% block content %}
<section id="main" class="w-100">
    <div class="container px-4">
        <div class="table-selecter m-3">
            <h4>篩選器</h4>
            <form>
            <div class="row align-items-center mb-3">
                <div class="col-2">棟別</div>
                <div class="col" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="buildSelect1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="buildSelect1">所有宿舍</label>
                
                    <input type="checkbox" class="btn-check" id="buildSelect2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="buildSelect2">B1宿</label>
                
                    <input type="checkbox" class="btn-check" id="buildSelect3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="buildSelect3">B2宿</label>
                    
                    <input type="checkbox" class="btn-check" id="buildSelect4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="buildSelect4">H宿</label>
                    
                    <input type="checkbox" class="btn-check" id="buildSelect5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="buildSelect5">M宿</label>
                    
                    <input type="checkbox" class="btn-check" id="buildSelect6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="buildSelect6">N宿</label>
                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-2">狀態</div>
                <div class="col" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="statusSelect1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="statusSelect1">所有狀態</label>
                
                    <input type="checkbox" class="btn-check" id="statusSelect2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="statusSelect2">待確認</label>
                
                    <!-- <input type="checkbox" class="btn-check" id="statusSelect3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="statusSelect3">已確認</label> -->
                    
                    <input type="checkbox" class="btn-check" id="statusSelect4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="statusSelect4">處理中</label>
                    
                    <!-- <input type="checkbox" class="btn-check" id="statusSelect5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="statusSelect5">等待中</label> -->

                    <input type="checkbox" class="btn-check" id="statusSelect6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="statusSelect6">已完成</label>
                </div>
            </div>
            <div class="row align-items-center mb-3">
                <div class="col-2">提交日期</div>
                <div class="col">
                    <input type="date" name="start_at" value="">
                    <span>~</span>
                    <input type="date" name="end_at" value="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">篩選</button>
            <button type="reset" class="btn btn-secondary">重置</button>
            </form>
        </div>    
        <hr>
        <div id="tesk-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">棟別</th>
                        <th scope="col">姓名</th>
                        <th scope="col">維修項目</th>
                        <th scope="col">提交日期</th>
                        <th scope="col">狀態</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for forms in form_list %}
                    <!-- Check if the current date is different from the previous one -->
                    {% if loop.index > 1 and forms.submit_at.year != form_list[loop.index - 2].submit_at.year or
                    forms.submit_at.month != form_list[loop.index - 2].submit_at.month %}
                        <tr>
                            <td scope="row" colspan="6">
                                <strong>{{ forms.submit_at.year }}年 {{ forms.submit_at.month }}月</strong>
                            </td>
                        </tr>
                    {% endif %}
                        <tr>
                            <th scope="row">{{ forms.dorms }}</th>
                            <td>{{ forms.name }}</td>
                            <td>
                            {% if forms.fix_items == '其他' %}
                                {{ forms.other_fix_items }}
                            {% else %}
                                {{ forms.fix_items }}
                            {% endif %}
                            </td>
                            <td>{{ forms.submit_at.strftime('%Y年%m月%d日') }}</td>
                            <td>{{ forms.status }}</td>
                            <td>
                                <!-- <a href="/manager/tesk_info/{{ forms["_id"] }}" class="btn btn-primary">編輯</a> -->
                                <a href="/manager/tesk_info/{{ forms["_id"] }}" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/>
                                    </svg>
                                </a>
                                <input type="checkbox" class="btn-check" id="" autocomplete="off">
                                <label class="btn btn-outline-primary" for="">加入Excal</label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}