<!DOCTYPE html>
<html lang="zh-tw">
<head>

    <link rel="icon" href="{{ url_for('static', filename='/icon/favicon.png')}}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ben">
    <meta name="description" content="實踐大學高雄校區的宿舍維修系統">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC" type="text/css">
    
    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <title>註冊｜南實大宿舍維修</title>
</head>
<body>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image" style="background-image: url('background.jpeg');">
                    <!--image-->
                    <img src="dorm_logo.png" class="logo-image" alt="實踐大學高雄校區宿舍維修系統">
                </div>
                <div class="col-md-6 login-form">
                    <div class="input-box">
                        <header>宿舍維修註冊</header>
                        <form action="/signup" method="post">    
                            <div class="input-field">
                                <input type="text" class="input" id="name" name="name" required>
                                <label for="name">姓名</label>
                                <!-- for 屬性規定label 與哪個表單元素綁定。 -->
                            </div>
                            <div class="input-field">
                                <input type="text" class="input" id="student_id" name="student_id" required autocomplete="off">
                                <label for="student_id">學號</label>
                            </div>
                            <div class="input-field">
                                <input type="password" class="input" id="password" name="password" required>
                                <label for="password">密碼</label>
                            </div>
                            <!-- <div class="input-field">
                                <input type="email" class="input" id="email" name="email" required>
                                <label for="email">email</label>
                            </div> -->
                            <!-- <div class="input-field">
                                <input type="text" class="input" id="number" name="number" required>
                                <label for="number">房號床位(例: N-104)</label>
                            </div> -->
                            <div class="input-field">
                                <input type="submit" class="submit" value="註冊">
                            </div>
                        </form>

                        <div class="user-login">
                            <span><a href="/">回登入頁面</a></span>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!--  管理員註冊需要時再開 
            <form action="/manager_signup_page" method="post">
            <button type="submit" class="btn-link">&plus; 管理員註冊</button>
        </form> -->
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>